
.post ul{
  list-style-type: disc;
  padding-left: 1.5rem;
}

.post ol{
  list-style: decimal;
  padding-left: 1.5rem;
}

.post li {
  margin: 0.4rem 0;
}

.post p{
  margin: 0 !important;
}

.name {
  font-size: 0.75rem !important;
  margin-bottom: 0 !important;
  line-height: 1rem !important;
}

.role{
  font-family:"GeistMono",ui-monospace,SFMono-Regular,Roboto Mono,Menlo,Monaco,Liberation Mono,DejaVu Sans Mono,Courier New,monospace;
}


.post blockquote{
  margin: 1.5rem 0;
  padding: 1rem 1.5rem;
  background: #f9fafb;
  border-left: 4px solid gray;
  color: #374151;
}

.post blockquote p{
  margin: 0;
}

pre {
  overflow-x: auto;
  white-space: pre;
  padding: 24px;
  word-wrap: normal;
  max-width: 100%;
}

code{
  border-radius: 6px;
  background-color: #f0f0f0;
  white-space: pre-wrap;
  word-break: keep-all;
}

.post{
  hyphens: auto !important;
}

@media (max-width: 600px){
  pre, code {
    font-size: 14px;
    /* padding: 10px; */
  }

  .role{
    font-size: 12px !important;
  }
}

.codehilite{
    background-color: #fafafa !important;
    font-weight: bold !important;
    border-radius: 10px;
}

.codehilite {
  color: #343435 !important; /* texto escuro */
  background-color: #f3f4f6 !important; /* fundo clarinho */
}

@media (max-width:760px){
    #container h1 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
        margin-bottom: 0px !important;
     } 
    #container h2{
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }

    #container .post{
        font-size: 0.875rem !important;
        max-width: 100%;
        overflow: hidden;
    }

    #container .post p{
        font-size: 0.875rem !important;
    }

    #container .post li{
        font-size: 0.875rem !important;
    }

    
}

@media (min-width: 768px) {
  #container h2{
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
}

#container h1 {
  font-size: 2.750rem; 
  font-weight: 700;   /* bold */
  margin-bottom: 1rem;
  line-height: 38px;
}

#container h2 {
    color:#343435;
    font-size: 1.5rem; /* text-4xl */
    font-weight: 600;
    font-family: Space Grotesk, sans-serif;
}

/* #introducao {
    line-height: 24px;
} */

.content{
    line-height: 26px;
}

#container h3 {
    font-size: 1.2; /* text-4xl */
    font-weight: 500;
    margin-bottom: 0.50rem;
}

#container p {
  font-size: 1rem; /* text-base */
  margin-bottom: 0.5rem;
}

#container li {
  font-size: 1rem;
}


