


.codehilite{
    background-color: #fafafa !important;
    font-weight: bold !important;
    border-radius: 10px;
}

.codehilite {
  color: #343435 !important; /* texto escuro */
  background-color: #f3f4f6 !important; /* fundo clarinho */
}

@media (max-width:760px){
    #container h1 {
        font-size: 1.5rem !important;
        line-height: 2rem !important;
        margin-bottom: 0px !important;
     } 
    #container h2{
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }

    #container .post{
        font-size: 0.875rem !important;
    }

    #container .post p{
        font-size: 0.875rem !important;
    }

    #container .post li{
        font-size: 0.875rem !important;
    }

    
}

@media (min-width: 768px) {
  #container h2{
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
  }
}

#container h1 {
  font-size: 2.750rem; 
  font-weight: 700;   /* bold */
  margin-bottom: 1rem;
  line-height: 38px;
}

#container h2 {
    color:#343435;
    font-size: 1.5rem; /* text-4xl */
    font-weight: 600;
    font-family: Space Grotesk, sans-serif;
}

/* #introducao {
    line-height: 24px;
} */

.content{
    line-height: 26px;
}

#container h3 {
    font-size: 1.2; /* text-4xl */
    font-weight: 500;
    margin-bottom: 0.50rem;
}

#container p {
  font-size: 1rem; /* text-base */
  margin-bottom: 0.5rem;
}

#container li {
  font-size: 1rem;
}


