name: Keep Backend Alive

on:
  schedule:
    # Roda a cada 10 minutos
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping Render Backend
        run: curl -s https://journal-q3dr.onrender.com/healthcheck